<div id="root">
	<nav id="siteNav">
		<div id="logo"><canvas id="myCanvas" width="75" height="40"></div>
		<div class="navItem"><a href="#!">Main</a></div>
		<div class="navItem"><a href="#!games">Games</a></div>
		<div class="navItem"><a href="#!events">Events</a></div>
		<div class="navItem"><a href="#!facebook">facebook</a></div>
		<div id="searchNavItem">
			<input type="text"/>
			<div>S</div>
		</div>
	</nav>

	<main id="siteBottom">
		<section id="siteBody">
			<section id="content">
				<div ng-view style="width:100%;height:100%;"></div>
			</section>
			<footer>
				footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer footer
			</footer>
		</section>
	</main>
</div>
