<div id="root">
	<nav id="siteNav">
		<div id="logo"><canvas id="myCanvas" width="75" height="40"></div>
		<div class="navItem"><a href="#!">Main</a></div>
		<div class="navItem"><a href="#!games">Games</a></div>
		<div class="navItem"><a href="#!events">Events</a></div>
		<div class="navItem"><a href="#!facebook">facebook</a></div>
		<div id="searchNavItem">
			<!-- <input type="text" ng-model="searchQuery"/>
			<div class="searchIcon" ng-click="onSearchClick($event)">S</div>
			<div class="expandIcon" ng-click="onSearchClick($event)">V</div> -->
			<md-menu>
				<md-button aria-label="Open menu with custom trigger" class="md-icon-button" ng-click="$mdMenu.open()">
					S
				</md-button>
				<md-menu-content width="5" ng-mouseleave="$mdMenu.close()" style="overflow: hidden;padding: 15px 5px;">
					<md-menu-item>
						<md-input-container>
							<label>Name</label>
							<input ng-model="filter.name">
						</md-input-container>
					</md-menu-item>
					<md-menu-item>
						<md-input-container>
							<label>Genre</label>
							<input ng-model="filter.genre">
						</md-input-container>
					</md-menu-item>
					<md-menu-item>
						<md-input-container>
							<label>Description</label>
							<input ng-model="filter.description">
						</md-input-container>
					</md-menu-item>
					<md-menue-button>
						<md-button aria-label="Open menu with custom trigger" ng-click="onSearchClick($event)">
							Search
						</md-button>
					</md-menue-button>
				</md-menu-content>
			</md-menu>

		</div>
	</nav>

	<main id="siteBottom">
		<section id="siteBody">
			<section id="content">
				<div ng-view style="width:100%;height:100%;"></div>
			</section>
			<footer>
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
			</footer>
		</section>
	</main>
</div>
