<div id="root">
	<nav id="siteNav">
		<div id="logo">IGDBA</div>
		<div class="navItem"><a href="#">Main</a></div>
		<div class="navItem"><a href="#!red">Item 2</a></div>
		<div class="navItem"><a href="#!wef">Item 2</a></div>
		<div class="navItem"><a href="#!ewf">Item 2</a></div>
		<div id="searchNavItem">
			<input type="text"/>
			<div>S</div>
		</div>
	</nav>

	<main id="siteBottom">
		<aside>
			<header>
				IGDBA
			</header>
		</aside>
		<section id="siteBody">
			<section id="content">
				<div ng-view></div>
			</section>
			<footer>
				<a ng-href="{{appa.url}}">Webpack Angular Starter</a>
			</footer>
		</section>
	</main>
</div>
