<div id="root">
	<nav id="siteNav">
		<div id="logo">IGDBA</div>
		<div class="navItem">Item 1</div>
		<div class="navItem">Item 2</div>
		<div class="navItem">Item 3</div>
		<div class="navItem">Item 4</div>
		<div id="searchNavItem">
			<input type="text"/>
			<div>S</div>
		</div>
	</nav>

	<main id="siteBottom">
		<aside>
			<header>
				IGDBA
			</header>
		</aside>
		<section id="siteBody">
			<section id="content">
				<popular-games id="popularGamesContainer"></popular-games>
			</section>
			<section id="content">
				<h1 class="title">Hello from Angular !</h1>
				<img src="/logo.png">
			</section><section id="content">
				<h1 class="title">Hello from Angular !</h1>
				<img src="/logo.png">
			</section><section id="content">
				<h1 class="title">Hello from Angular !</h1>
				<img src="/logo.png">
			</section><section id="content">
				<h1 class="title">Hello from Angular !</h1>
				<img src="/logo.png">
			</section><section id="content">
				<h1 class="title">Hello from Angular !</h1>
				<img src="/logo.png">
			</section>
			<footer>
				<a ng-href="{{appa.url}}">Webpack Angular Starter</a>
			</footer>
		</section>
	</main>
</div>
