<div class="recentViewed_comp">
	<h3>RECENTLY VIEWED</h3>
	<div class="recentViewed_games">
		<div class="recentViewed_game1">
			<game></game>
		</div>
		<div class="recentViewed_game2">
			<game></game>
		</div>
		<div class="recentViewed_game3">
			<game></game>
		</div>
		<div class="recentViewed_game4">
			<game></game>
		</div>
		<div class="recentViewed_game5">
			<game></game>
		</div>
		<div class="recentViewed_game6">
			<game></game>
		</div>
		<div class="recentViewed_gameMain">
			<game></game>
		</div>
	</div>
</div>
