<div class="recentViewed_comp">
	<h3>RECENTLY VIEWED</h3>
	<div class="recentViewed_games">
		<div class="recentViewed_game1">
			<game data="games[0]"></game>
		</div>
		<div class="recentViewed_game2">
			<game data="games[1]"></game>
		</div>
		<div class="recentViewed_game3">
			<game data="games[2]"></game>
		</div>
		<div class="recentViewed_game4">
			<game data="games[3]"></game>
		</div>
		<div class="recentViewed_game5">
			<game data="games[4]"></game>
		</div>
		<div class="recentViewed_game6">
			<game data="games[5]"></game>
		</div>
		<div class="recentViewed_gameMain">
			<game data="games[6]"></game>
		</div>
	</div>
</div>
