<div id="gameViewContainer">
	<div class="GridComponent">
		<img src="jssqwk2ng823u1ypb8l6.jpg" style="place-self: center; height: 100%; width: 100%; background-size: 100% 100%; grid-area: cTXeRk / cTXeRk / cTXeRk / cTXeRk;">
		<h1 style="place-self: center start; color: rgb(255, 255, 255); font-weight: bold; text-shadow: rgb(0, 0, 0) 0px 0px 1px; grid-area: xOxCMA / xOxCMA / xOxCMA / xOxCMA; padding-left: 20px;">Age of Empires: Definitive Edition
		</h1>
		<h4 style="place-self: end start; text-shadow: rgb(0, 0, 0) 0px 0px 1px; color: white; padding-left: 40px; grid-area: qRNqBy / qRNqBy / qRNqBy / qRNqBy;">20th Feb, 2018</h4>
		<h4 style="place-self: start; text-shadow: rgb(0, 0, 0) 0px 0px 1px; color: white; padding-left: 40px; grid-area: IMQbnc / IMQbnc / IMQbnc / IMQbnc;">Forgotten Empires LLC</h4>
		<article style="place-self: center start; grid-area: FdzEhi / FdzEhi / FdzEhi / FdzEhi;">Adventure, Real Time Strategy (RTS), Simulator, Strategy</article>
		<label style="place-self: center start; font-weight: bold; padding: 20px; grid-area: vYbQLc / vYbQLc / vYbQLc / vYbQLc;">Genre:</label>
		<label style="place-self: center start; font-weight: bold; padding: 20px; grid-area: yFWeSi / yFWeSi / yFWeSi / yFWeSi;">Platforms:</label>
		<article style="place-self: center start; grid-area: zzZhCJ / zzZhCJ / zzZhCJ / zzZhCJ;">PC (Microsoft Windows)</article>
		<article style="place-self: start; padding: 5px; height: 150px; overflow: hidden; width: 100%; grid-area: vDhvZy / vDhvZy / vDhvZy / vDhvZy; margin-left: 15px;">Age of Empires, the pivotal RTS that launched a 20-year legacy returns in definitive form for Windows 10 PCs. Bringing
			together all of the officially released content with modernized gameplay, all-new visuals and a host of other new features,
			Age of Empires: Definitive Edition is the complete RTS package. Engage in over 40 hours of updated campaign content with
			new narration and pacing, jump online in up to 8-player battles with new competitive features and modes, experience 4K
			HD visuals with overhauled animations, get creative with the scenario builder and share your creations with easy mod support.
			There’s never been a better time to jump in to Age of Empires. Welcome back to history.
		</article>
		<button style="place-self: center; grid-area: IcwnxI / IcwnxI / IcwnxI / IcwnxI;">Want</button>
		<button style="place-self: center; grid-area: QjBwWz / QjBwWz / QjBwWz / QjBwWz;">Playing</button>
		<aside style="place-self: center; grid-area: UTKsVj / UTKsVj / UTKsVj / UTKsVj;">Rating
			<br> &nbsp;&nbsp;*****
		</aside>
	</div>
</div>
