<div id="gameViewContainer">
	<div class="GridComponent">
		<img src="jssqwk2ng823u1ypb8l6.jpg" style="place-self: center; height: 100%; width: 100%; background-size: 100% 100%; grid-area: cTXeRk;">
		<h1 style="place-self: center start; color: rgb(255, 255, 255); font-weight: bold; text-shadow: rgb(0, 0, 0) 0px 0px 1px; grid-area: xOxCMA; padding-left: 20px;">{{title}}</h1>
		<h4 style="place-self: end start; text-shadow: rgb(0, 0, 0) 0px 0px 1px; color: white; padding-left: 40px; grid-area: qRNqBy;">{{releaseDate}}</h4>
		<h4 style="place-self: start; text-shadow: rgb(0, 0, 0) 0px 0px 1px; color: white; padding-left: 40px; grid-area: IMQbnc;">{{publisher}}</h4>
		<label style="place-self: center start; font-weight: bold; padding: 20px; grid-area: vYbQLc;">Genre:</label>
		<article style="place-self: center start; grid-area: FdzEhi;">{{generes}}</article>
		<label style="place-self: center start; font-weight: bold; padding: 20px; grid-area: yFWeSi;">Platforms:</label>
		<article style="place-self: center start; grid-area: zzZhCJ;">{{platforms}}</article>
		<article style="place-self: start; padding: 5px; height: 150px; overflow: hidden; width: 100%; grid-area: vDhvZy; margin-left: 15px;">Age of Empires, the pivotal RTS that launched a 20-year legacy returns in definitive form for Windows 10 PCs. Bringing
			{{desc}}
		</article>
		<button style="place-self: center; grid-area: IcwnxI;">Want</button>
		<button style="place-self: center; grid-area: QjBwWz;">Playing</button>
		<aside style="place-self: center; grid-area: UTKsVj;">Rating
			<br> &nbsp;&nbsp;*****
		</aside>
	</div>
</div>
