.gameView {
	width: 100%;
	height: 100%;
	display:block;
	position: relative;
	overflow: hidden;
	color: white;

	.gameView_gameImage {
		width: 100%;
		height: 100%;
	}
	
	&:hover {
		.gameView_gameDetails {
			height: 60%;
		}
	}

	.gameView_gameDetails {
		position: absolute;
		width: 100%;
		height: 0%;
		bottom: 0;
		background-color: rgba(0,0,0,.5);
		padding: 0 5px 5px 5px;
		-webkit-transition: height .3s;
		display: flex;
		flex-direction: column;
		cursor: pointer;

		.gameView_gameTitle {
			font-size: 18pt;
			text-decoration: underline;
			margin: 10px 0;
			width: 100%;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		.gameView_readMore {

			& > a {
				color: white;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
			font-size: 14pt;
			margin-top: auto;
		}
	}
}