<div class="popGames_comp">
	<h3>POPULAR GAMES RIGHT NOW</h3>
	<div class="popGames_games">
		<div class="popGames_gameContainer">
			<game></game>
		</div>
		<div class="popGames_gameContainer">
			<game></game>
		</div>
		<div class="popGames_gameContainer">
			<game></game>
		</div>
		<div class="popGames_gameContainer">
			<game></game>
		</div>
		<div class="popGames_gameContainer">
			<game></game>
		</div>
		<div class="popGames_gameContainer">
			<game></game>
		</div>
		<div class="popGames_gameContainer">
			<game></game>
		</div>
		<div class="popGames_gameContainer">
			<game></game>
		</div>
		<div class="popGames_gameContainer">
			<game></game>
		</div>
	</div>
</div>
